body {
    font-family: "PT Sans", sans-serif;
}

body, h1, h2, h3, p, li {
    line-height: 1.25;
}

h1 {
    font-family: "PT Sans Caption", sans-serif;
    font-weight: normal;
}

a {
    color: #009;
}

a:visited {
    color: #306;
}

.narrow {
    width: 66%;
}

aside {
    --offset: 79.9rem;
    float: right;
    width: 33%;
    height: var(--offset);
    margin-top: calc(-1 * var(--offset));
}

@media print {
    body {
        font-size: 14pt;
    }

    h1 {
        margin: 0 0 .5em;
        font-size: 2em;
    }

    h2 {
        margin: .5em 0 .25em;
        font-size: 1.5em;
    }

    h2#contact {
        visibility: hidden;
        margin: 0;
        line-height: 0;
    }

    h2#contact+p,
    h2#contact+p+p {
        text-align: right;
    }

    h3 {
        margin: .5em 0 .25em;
        font-size: 1em;
    }

    /* Date range */
    h3+p,
    #education+p+p+p {
        font-family: "PT Sans Caption", sans-serif;
        font-size: 0.75em;
    }

    /* Position */
    h3+p em {
        font-family: "PT Sans", sans-serif; /* PT Sans Caption doesn’t have italic */
    }

    p,
    li {
        margin: 0 0 .5em;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}